@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url('./assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  color: white;
  padding-top: 350px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 241px;
  width: 100%;
  background-color: rgb(45, 45, 45);
  padding: 0 120px;
  gap: 50px;
  margin-bottom: 50px;
  border-radius: 0 0 10px 10px;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
}

header > form.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

header > form.heading > input {
  max-width: 285px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #FF0909;
  padding: 11px 15px;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: white;
}

header > form.heading > input:focus {
  outline: #FF0909;
  caret-color: #fff;
}

header > div.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  max-width: 350px;
  height: 31px;
  flex-wrap: wrap;
}

header > div.categories > button {
  height: 31px;
  border-radius: 5px;
  padding: 6px 12px;
  background-color: #FF4343;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

main > div.result-row {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 50px;
  gap: 50px;
}

main > div.result-row > button {
  width: 57px;
  height: 25px;
  padding: 4px 6px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #FF4343;
  scale: 1.2;
  transition: opacity 0.3s ease;
}

main > div.meal-list {
  max-width: 1850px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

main > div.meal-list > div.meal-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 340px;
  height: 167px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.66px solid #f57070;
  border-radius: 10px;
  padding: 7px 13px;
}

main > div.meal-list > div.meal-container > div.image-container {
  width: 133px;
  height: 133px;
  color: #D9D9D9;
  border-radius: 50%;
  box-shadow: 0px 5.7px 9.5px rgba(0, 0, 0, 0.25);
}

main > div.meal-list > div.meal-container > div.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

main > div.meal-list > div.meal-container > div.meal-description {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

main > div.meal-list > div.meal-container > div.meal-description > div.meal-text {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  width: 100px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.short-instructions {
  font-size: 10px;
  width: 150px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

main > div.meal-list > div.meal-container > div.meal-description > button {
  width: 57px;
  height: 25px;
  padding: 4px 6px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #FF4343;
  align-self: flex-end;
  transition: opacity 0.3s ease;
}

button:active {
  opacity: 0.5;
}

.wb-name {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  flex-wrap: nowrap;
}

.changed-letters {
  color: #FF0A0A;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.meal-page-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal-page {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  gap: 30px;
  max-width: 1200px;
}

.ingredient-heading {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #f57070;
  border-radius: 10px;
  padding: 10px 15px;
  gap: 20px;
  align-items: center;
}

.ingredient-heading > h1, h2, h3 {
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #f57070;
  border-radius: 10px;
  padding: 10px 15px;
  justify-content: center;
}

.photo {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 5.7px 9.5px rgba(0, 0, 0, 0.25);
  border: 1px solid #f57070;
}

.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.ingredient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 1px solid #f57070;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  text-align: center;
}

.instruction-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #f57070;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: start;
}

.instruction-list > li::marker {
  color: #FF4343;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .meal-list {
    width: 1110px;
  }
}

@media (max-width: 800px) {
  .meal-list {
    width: 740px;
  }

  .content {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .meal-list {
    width: 370px;
  }

  header {
    padding-top: 5px;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .heading {
    flex-direction: column;
    align-items: start ;
    align-self: flex-start;
  }

  .heading > h1 {
      white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .categories {
    gap: 2px;
    width: 200px;
  }

  .content {
    flex-direction: column;
    padding: 5px 10px;
  }

  .photo {
    width: 200px;
  }

  .ingredient-list {
    justify-content: center;
  }

  .ingredient-container {
    width: 100px;
    height: auto;
  }
}